body {
  @include light;
  color: $text-color;
}
.button-o {
  text-transform: uppercase;
  padding: 17px 22px;
  font-size: 12px;
  border: 2px solid $primary;
  @include bold;
  color: $primary;
  background-color: #fff;
}
.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: $primary;
  color: #fff;
  @include bold;
}
